.agenda {
    @include list-reset;

    margin: 82px auto 85px;
}
.agenda__item {
    position: relative;
    
    transition: all 500ms ease-in-out;

    &--reading {
        width: 416px;
        margin-right: 20px;
        padding-top: 71px;
    }
    &--reading:hover {
        .icon--book {
            color: #8d8eba;
        }
    }
    &--questions {
        width: 437px;
        margin-top: 209px;
        padding-top: 80px;
    }
    &--questions:hover {
        .icon--question {
            color: #ffd173;
        }
    }
    &--fellowship {
        width: 330px;
        margin-right: 33px;
        padding-top: 78px;
    }
    &--fellowship:hover {
        .icon--five {
            color: #88a3d6;
        }
    }
    &--ambiance,
    &--warm {
        width: 480px;
        margin-top: 100px;
        padding-top: 81px;
    }
    &--ambiance {
        margin-right: 110px;
    }
    &--ambiance:hover {
        .icon--happy {
            color: #8d8eba;
        }
    }
    &--warm {
        width: 436px;
    }
    &--warm:hover {
        .icon--tea-cup {
            color: #ffd173;
        }
    }
}
.agenda__icon {
    position: absolute;
    top: 0;
    left: 0;

    color: $font-grey;
}
.agenda__title {
    @include indent;

    display: inline-block;
    margin-bottom: 11px;
    padding: 10px 14px;

    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: $white;

    border-radius: 4px;

    &--reading,
    &--ambiance {
        background-color: #8d8eba;
    }
    &--questions,
    &--warm {
        background-color: #ffd173;
    }
    &--fellowship {
        background-color: #88a3d6;
    }
}
.agenda__images {
    transition: all 500ms ease-in-out;

    &--reading {
        width: 590px;
        height: 382px;
    }
    &--questions {
        width: 364px;
        height: 443px;
        margin: -56px 72px 108px 0;
    }
    &--fellowship {
        width: 577px;
        height: 405px;
    }
}
.agenda__text {
    @include indent;

    color: $font-black;
}

// ≥1200px
@include media-breakpoint-down(lg) {
    .agenda__images {
        &--reading {
            width: 540px;
            height: 350px;
        }
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .agenda__item {

        &--reading {
            margin-right: 0;
        }
        &--questions {
            margin-right: 60px;
        }
        &--fellowship {
            width: 360px;
            margin-right: 75px;
        }
        &--questions,
        &--fellowship,
        &--ambiance,
        &--warm {
            margin-top: 40px;
        }
    }
    .agenda__images {
        &--reading {
            width: 510px;
            height: 330px;
        }
        &--questions {
            width: 300px;
            height: 365px;
            margin-right: 120px;
            margin-bottom: 0px;
        }
        &--fellowship {
            width: 500px;
            height: 351px;
        }
        &--reading,
        &--questions,
        &--fellowship {
            margin-top: 20px;
        }
    }
}
