.gathering {
    max-width: 1026px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.gathering__title {
    @include indent;

    margin-top: 88px;
}
.gathering__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gathering__btn {
    height: 43px;
    margin: 65px auto;
    padding-top: 5px;

    box-shadow: 0 18px 40px rgba(#ef9252, 0.6);

    &:active {
        box-shadow: none;
    }
}