.organizer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1026px;
    margin: 0 auto;

    &:hover .organizer__logo {
        animation: color 5s infinite alternate;
    }
}
.organizer__title {
    width: 100%;
    margin-bottom: 63px;
}

.organizer__left {
    width: 330px;

    text-align: center;
}
.organizer__logo {
    color: $bsg;
}
@keyframes color {
    20% {
        color: green;
    }
    40% {
        color: skyblue;
    }
    60% {
        color: gold;
    }
    80% {
        color: crimson;
    }
}

.organizer__right {
    width: 679px;
}
.organizer__info {
    @include indent;

    margin-top: 14px;

    font-size: 22px;
    font-weight: bold;
}
.organizer__text {
    @include indent;

    margin-top: 15px;

    &:last-child {
        margin-top: 7px;
    }
}
