.page-main {
    // margin: 0 auto;
    max-width: 1366px;
}

.page-main__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    color: $font-grey;
}

// ≥1540px
@include media-breakpoint-down(xl) {
}

// ≥1200px
@include media-breakpoint-down(lg) {
}

// ≥992px
@include media-breakpoint-down(md) {
}

// ≥768px
@include media-breakpoint-down(sm) {
}

// ≥576px
@include media-breakpoint-down(xs) {
}
