.schedule {
	display: flex;
	justify-content: space-between;
}
.schedule__list {
	@include list-reset;
	display: flex;
	margin-top: 9px;
	margin-left: 35px;
}

.schedule__item {
	position: relative;
	margin-right: 77px;
	padding-left: 48px;
	letter-spacing: 0.16px;

	&--address {
		top: -3px;
		margin-left: -12px;
		padding: 2px 12px 0 60px;
	}
	&--address:hover {
		background-color: $bg-link;
		border-radius: 24px;
	}
	&--address:active {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px $bg-link;

	}
}
.schedule__link {
	color: $white;

	&:hover {
		text-decoration: none;
		color: $white;
	}
}
.schedule__icon {
	position: absolute;
	top: 0;
	
	&--clock {
		left: 0;
	}

	&--calendar {
		left: 2px;
	}
	
	&--marker {
		top: 3px;
		left: 13px;
	}
}
.schedule__btn {
	position: relative;
	margin-right: 41px;
}